<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VKAlpha.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VKAlpha.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="userid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="sptoken" serializeAs="String">
                <value />
            </setting>
            <setting name="spexpire" serializeAs="String">
                <value>1991-12-26</value>
            </setting>
            <setting name="load_track_covers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_user_avatars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cache_track_covers" serializeAs="String">
                <value>True</value>
            </setting>
        </VKAlpha.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.12.0.0" newVersion="106.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.2" newVersion="4.2.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.2" newVersion="2.0.3.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
